<%- include ./partials/header.ejs %>
<%- include ./partials/main_nav.ejs %>

<div class="container mt-5">
  <% if (error && error.length) { %>
    <% error.forEach(function(msg) { %>
      <div class="alert alert-danger" role="alert"><%= msg %></div>
    <% }) %>
  <% } %>
  <h1>Login</h1>
  <div class="card" style="max-width: 400px;">
    <div class="card-body">
      <a href="/auth/google" class="btn btn-danger btn-block mb-3">
        <i class="fab fa-google"></i> Sign in with Google
      </a>
      <a href="/auth/github" class="btn btn-dark btn-block">
        <i class="fab fa-github"></i> Sign in with GitHub
      </a>
    </div>
  </div>
</div>

<%- include ./partials/footer.ejs %>